.my-search-box {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #212529;
    width: 50%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}